<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <title>Edit Comment</title>
</head>
<body>
     <form class="form-mf" method="post" action="#">
              {% csrf_token %}
         <textarea id="address" name="text"
            rows="5" cols="60">{{ comment.text }}
         </textarea> <br>
         <button type="submit" class="btn btn-primary button button-a button-big button-rouded">Send Message</button>

     </form>
</body>
</html>