<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div>
     <ul class="list-comments">

              <li>
                <div class="comment-avatar">
                  <img src="../{{comment.personal.avatar}}" alt="{{comment.personal.avatar}}">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{comment.personal.first_name}}</h4>
                  <span>{{comment.created_at}}</span>
                  <p>
                  {{comment.text}}
                  </p>

                </div>
              </li>
     </ul>

</div>

<div class="form-comments">
            <div class="title-box-2">
              <h3 class="title-left">
                Leave a Reply
              </h3>
            </div>

            <form class="form-mf" method="post" action="#">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
<!--                    <input name="name" type="text" class="form-control input-mf" id="inputName" placeholder="Name *" required >-->

                  </div>

                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <textarea name="text" id="textMessage" class="form-control input-mf" placeholder="Reply *"
                      cols="45" rows="8" required>

                    </textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                </div>
              </div>
            </form>
          </div>




<script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/popper/popper.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/counterup/jquery.waypoints.min.js"></script>
  <script src="../lib/counterup/jquery.counterup.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/lightbox/js/lightbox.min.js"></script>
  <script src="../lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../js/main.js"></script>
</body>
</html>